.button-custom {
  font-size: $font-size-p;
  cursor: pointer;
  :hover {
    opacity: 90%;
  }
  &--primary {
    background-color: $color-primary;
    font-family: $font-principal;
    font-weight: $font-weight-m;
    font-size: $font-size-p;
    border-radius: 20px;
    border-style: none;
    min-width: 200px;
    max-width: 300px;
    padding: 0px 20px;
    height: 56px;
  }
  &--default {
    background-color: $color-text;
    font-family: $font-principal;
    font-weight: $font-weight-p;
    font-size: $font-size-p;
    border-style: none;
    color: $color-white;
  }

  &--dark {
    background-color: $color-text;
    font-family: $font-principal;
    font-weight: $font-weight-p;
    font-size: $font-size-p;
    border-style: none;
    color: $color-white;
    background-color: $color-text;
    min-width: 100%;
    max-width: 100%;
    height: 56px;
    border-radius: 20px;
  } 
}