.footer {
  background-color: $color-text;
  width: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    img {
      width: 10%;
      padding: 8px;
      object-fit: contain;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 4px;
    h1 {
      font-size: $font-size-p;
      color: $color-white;
      padding: 10px;
      text-align: center;
    }
  }
  &__social-media {
    justify-content: flex-end;
    padding: 14px;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
    }
    img {
      width: 60%;
      object-fit: contain;
    }
  }
}
