$font-principal: 'Poppins', sans-serif;

$font-weight-g: 900;
$font-weight-m: 700;
$font-weight-o: 600;
$font-weight-p: 400;

$font-size-g: 72px;
$font-size-c: 50px;
$font-size-a: 36px;
$font-size-m: 24px;
$font-size-v: 22px;
$font-size-p: 18px;
$font-size-s: 16px;
