.header {
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  padding: 20px;
  background-color: $color-text;
  img {
    height: 50px;
    padding: 8px 0;
    object-fit: contain;
  }
  @media screen and (max-width: 800px) {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}